

    

    <div class="content-wrapper">
      <!-- Content on the left side -->
      <div class="left-content">
        <!-- Add your left-side content here -->
        <p>Left Content 1</p>
        <p>Left Content 2</p>
        <p>Left Content 3</p>
        <p>Left Content 4</p>
        <p>Left Content 5</p>
        
      </div>
    
      <!-- Bars on the right side -->
      <div class="right-content">
        <div class="bar">
          <div class="bar-item" [style.width.%]="bar1Width"></div>
        </div>
        <div class="bar">
          <div class="bar-item2" [style.width.%]="bar2Width"></div>
        </div>
        <div class="bar">
          <div class="bar-item3" [style.width.%]="bar3Width"></div>
        </div>
        <div class="bar">
          <div class="bar-item4" [style.width.%]="bar4Width"></div>
        </div>
        <div class="bar">
          <div class="bar-item5" [style.width.%]="bar5Width"></div>
        </div>
      </div>
    </div>
    
    
    
    
      
      
    
    
