mat-toolbar {
  background-color:#4ba9e4;
}
span{
  color: aliceblue;
}
.flex-container {
  width: 100%;
}
.flex-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  
}
.inputBox {
    border-radius: 10px;
    border:none;
    margin-left: 20px;
    /* padding: 5px ; */
    font-size: 20px;
    
}
.headerpart{
  display: flex;
  gap: 10px;
  padding-right: 10px;
  font-size: 15px;
  margin-top: 10px;

}
.personIcon{
  background: rgb(210, 207, 207);
  border-radius: 50%;
  margin-top: 6px;
 
}