<div class="section-cal">
  <p>{{ heading }}</p>
  <div class="section-cal-contents">
    <div class="cal-iconame">
      <p>{{ about }}</p>
      <div>
        <mat-icon class="icon">{{ icon }}</mat-icon>
      </div>

      <div class="calc-money">
        <h2>{{ text1 }}</h2>
      </div>
    </div>

    <div>
      <p>{{ about2 }}</p>

      <div class="icons1">
        <mat-icon class="icon">{{ icon1 }}</mat-icon>
      </div>

      <div class="calc-money">
        <h2>{{ text2 }}</h2>
      </div>
    </div>

    <div>
      <p>{{ about3 }}</p>
      <div class="icons2">
        <mat-icon class="icon">{{ icon2 }}</mat-icon>
      </div>

      <div class="calc-money">
        <h2>{{ text3 }}</h2>
      </div>
    </div>
  </div>
</div>
