<div class="parent">
  <div class="parent-Left">
    <div class="avg-chart">
      <app-averagechart></app-averagechart>
    </div>
    <div class="map">
      <app-map></app-map>
    </div>
  </div>

  <div class="parent-Right">
    <div class="calculator">
      <mat-card>
        <app-calculation
          heading="calculations"
          icon="money"
          about="earnings"
          text1="$3,124"

          about2="Downloads"
          icon1="download"
          text2="1,340,230"
          
          about3="favorite"
          icon2="favorite"
          text3="135,020"
        ></app-calculation>
      </mat-card>
    </div>

    <div class="analChart">
      <div class="analatic-sec">
        <mat-card>
          <app-analatical
          
          ></app-analatical>
        </mat-card>
      </div>

      <div class="chart">
        <mat-card>
          <app-chart 
          title="chart1"
          title2="chart2"
          title3="chart3"
          title4="chart4"
          title5="chart5">
            
          </app-chart>
        </mat-card>
      </div>
    </div>
    <div class="recent">
      <mat-card>
        <app-recentupdate
          heading="Recent Update"
          description="Here you can see the recent updates of company.you can also join with us share ur valuable feedbacks"
        >
        
        </app-recentupdate>
      </mat-card>
    </div>
  </div>
</div>

